.sidenav
  .search-box
    = form_tag '',class:'search',method: :get do
      = text_field_tag :search, 'Search'
  = link_to 'Overview', overview_consumer_restaurant_path(@restaurant), class:'nav-link border-top'
  = link_to 'Restaurant', restaurant_consumer_restaurant_path(@restaurant), class:'nav-link'
  = link_to 'Service', service_consumer_restaurant_path(@restaurant), class:'nav-link'
  = link_to 'Dishes', dishes_consumer_restaurant_path,class:'nav-link'