:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
      //var data = google.visualization.arrayToDataTable(#{raw @count_array.to_json});
      var data = new google.visualization.DataTable();

      data.addColumn('date', 'Date');
      data.addColumn('number', '# of reviews',{role: 'annotation'}  );

       js_data =#{@count_array.to_json};

      for(var i=0; i< js_data.length; i++){
        js_data[i][0] = new Date(js_data[i][0]*1000);
      }
        console.log(js_data);
      data.addRows(js_data);

      var options = {
          title: 'Reviews',
          pointSize: 5,
          vAxis: {format:'#',
                    viewWindow:{
                      max:10,
                      min:0
                    }
                  }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
  }

.row-fluid
  .span3.sidebar
    %ul.nav.nav-list
      %li
        = link_to 'Overview', [:overview,:consumer,@restaurant]
      %li
        = link_to 'Restaurant', [:restaurant,:consumer,@restaurant]
      %li
        = link_to 'Service', [:service,:consumer,@restaurant]

  .span9.analytics
    .subheading
      %span.title Overview
      %span.date-range
        = form_tag [:overview,:consumer,@restaurant], method: :get do
          = date_select("date" , "start_date", {:default => @start_date, :order => [:month, :day, :year], :use_short_month => true, :end_year => Date.today.year}, {:class => "input-mini"})
          to
          = date_select("date" , "end_date", {:default => @end_date, :order => [:month, :day, :year], :use_short_month => true, :end_year => Date.today.year}, {:class => "input-mini"})
          = submit_tag  'Draw',class: 'btn btn-small btn-info'
    #chart_div
  .span3
