#consumer_overview
  .col-xs-12
    = render :partial => 'subheading', :locals => {:heading => 'Overview'}
    .row.box
      .col-xs-6.col-md-2
        .box-content.box-statistic.green-background
          %h3.title.text-success
            = (score = @reviews_score.category_score("restaurant")) ? score.round(1) : "N/A"
          %small Restaurant
          .text-success.icon-flag.align-right
      .col-xs-6.col-md-2
        .box-content.box-statistic
          %h3.title.text-info
            = (score = @reviews_score.category_score("service")) ? score.round(1) : "N/A"
          %small Service
          .text-info.icon-refresh.align-right
      .col-xs-6.col-md-2
        .box-content.box-statistic
          %h3.title.text-info
            = (score = @reviews_score.dish_score) ? score.round(1) : "N/A"
          %small Dishes
          .text-info.icon-time.align-right
      .col-xs-6.col-md-2
        .box-content.box-statistic
          %h3.title.text-info
            = (score = @reviews_score.category_score("food")) ? score.round(1) : "N/A"
          %small Food
          .text-info.icon-time.align-right

    :javascript
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
          //var data = google.visualization.arrayToDataTable(#{raw @count_array.to_json});
          var data = new google.visualization.DataTable();

          data.addColumn('date', 'Date');
          data.addColumn('number', '# of reviews',{role: 'annotation'}  );

           js_data =#{@count_array.to_json};

          for(var i=0; i< js_data.length; i++){
            js_data[i][0] = new Date(js_data[i][0]*1000);
          }
            console.log(js_data);
          data.addRows(js_data);

          var options = {
              pointSize: 5,
              vAxis: {format:'#',
                        viewWindow:{
                          max:10,
                          min:0
                        }
                      }
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
      }

    .col-xs-12
      %h4 Reviews
      .box#chart_div

      %h4 Frequently Rated Dishes
      .row.box
        - @trending_dishes.each do |k,v|
          .col-xs-6.col-md-2
            .box-content.box-statistic
              %h3.title.text-success= v[1]
              %small #{ k.humanize} (#{v[0]})
              .text-success.icon-arrow-up.align-right.percent
                31%
