.row-fluid
  .span3.sidebar
    = render :partial => 'sidebar'

  .span9.analytics
    = render :partial => 'subheading', :locals => {:heading => 'Restaurant'}

    #reviews_score
    Restaurant
    = @reviews_score.restaurant_score

    - @reviews_score.restaurant_features_scores.each do |k,v|
      = k
      = v
    


    %h4 Restaurant Trend
