:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('date', 'Date');
      data.addColumn('number', 'Restaurant rating',{role: 'annotation'}  );
     data.addColumn('number', 'Service rating',{role: 'annotation'}  );

      rating_data =#{@rating.to_json};

      for(var i=0; i< rating_data.length; i++){
        rating_data[i][0] = new Date(rating_data[i][0]*1000);
      }
      data.addRows(rating_data);

      var options = {
          pointSize: 5,
          vAxis: {format:'#',
                    viewWindow:{
                      max:5,
                      min:0
                    }
                  }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
  }
.row-fluid
  .span3.sidebar
    = render :partial => 'sidebar'

  .span9.analytics
    = render :partial => 'subheading', :locals => {:heading => 'Restaurant'}

    #reviews_score
    Restaurant
    = @reviews_score.category_score "restaurant"

    - @reviews_score.category_features_scores("restaurant").each do |k,v|
      = k
      = v
    


    %h4 Restaurant Trend
    #chart_div