:javascript
  // Resetting the chart parameters
  $.cookie('chart_parameters','')
#consumer_restaurant
  .col-xs-12
    = render :partial => 'subheading', :locals => {:heading => @category.capitalize}
    .row.box
      .col-xs-6.col-md-3
        .box-content.box-statistic.green-background
          %h3.title.text-success= @reviews_score.category_score(@category).round(1)
          %small=@category.capitalize
          .text-success.icon-flag.align-right
      - @reviews_score.category_features_scores(@category).each do |k,v|
        .col-xs-6.col-md-3
          .box-content.box-statistic
            %h3.title.text-info=v.round(1)
            %small= k.humanize
            .text-info.icon-glass.align-right
  .row
    .col-xs-12
      %h2.pull-left{:data=>{'category'=>@category}}
        %i.icon-bar-chart.subheader
        %span
          = @category.capitalize
          Trend
  .col-xs-12
    .row
      #chart_parameters
        %center
          .form-group.box
            - @reviews_score.category_features_scores(@category).each do |k,v|
              %label.checkbox-inline
                = check_box_tag(k,value = "1", checked = false,options = {class: "chart-params"})
                = k.humanize
      #chart_div

  :javascript
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

         response = $.ajax({
                           url: "#{"/consumer/restaurants/#{@restaurant.id}/features"} ",
                           dataType:"json",
                           async: false
                           }).responseText;

        jsonData = $.parseJSON(response);
        columns = jsonData['columns'];
        rows = jsonData['rows'];

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');

        for (var i = 0; i < columns.length; i++) {
           data.addColumn('number',columns[i] ,{role: 'annotation'}  );
        }
        for(var i=0; i< rows.length; i++){
          rows[i][0] = new Date(rows[i][0]*1000);
        }
        data.addRows(rows);

        var options = {
            pointSize: 5,
            vAxis: {format:'#',
                      viewWindow:{
                        max:5,
                        min:0
                      }
                    }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

  
