%div.row
  %div.large-12.columns
    %br
    %h4
      = link_to @restaurant.name, admin_restaurant_path(@restaurant)
    %h5.subheader
      = @restaurant.address
    %br
    %h5 Title:
    %h5.subheader  
      = @review.title 
    %h5 Description
    %p
      = @review.desc
    %h5.subheader
      Source:
      = @review.source
      |
      Created Date:
      = @review.created_at
      |
      Author
      = @review.author
      |
      Rating
      %span
        = @review.rating
      |
      = link_to 'Back', admin_restaurant_path(@restaurant)
    %hr
.row
  .large-12.columns
    %h4 Consolidated Notes
    %table
      %thead
        %th Item
        %th Rating
      - @review.consolidated_notes.each do |k,v|
        %tr
          %td= k
          %td= v

.row
  .large-12.columns
    %h4 Curator Notes
    - @users.each do |user|
      .large-4.columns
        %table
          %h5
            = user.email
          %thead
            %th Item
            %th Rating
            %th
          -notes = @review.get_notes(user)
          -notes.each do |note|
            %tr
              %td= note.item
              %td= note.rating
              %td= link_to 'Destroy', admin_restaurant_review_note_path(@restaurant,@review,note),class: 'delete-note', method: :delete, data: { confirm: 'Are you sure?' }
