#admin_reviews_show
  .row-fluid
    .span10.offset1
      %center
        %p.prev-next
          = link_to "Prev", admin_restaurant_review_path(@restaurant, @review.prev) if @review.prev.present?
          = link_to "Next", admin_restaurant_review_path(@restaurant, @review.next) if @review.next.present?

      %h5
        = @review.title
        .review-rating
          = @review.rating
      %p= raw(@review.desc)

      .row-fluid
        %h4 Consolidated Feedback

        .span12
          .span6
            %table.table-striped.small
              %thead
                %th Item
                %th Rating
              - @review.consolidated_feedback["dishes"].each do |k,v|
                %tr
                  %td= k
                  %td= v

          .span6
            %table.table-striped.small
              %thead
                %th Parameter
                %th Value
              - @review.consolidated_feedback["parameters"].each do |k,v|
                %tr
                  %td= k
                  %td= v

      .row-fluid
        .span12
          %h4= "User Feedbacks (#{@feedbacks.count})"
          - @feedbacks.each do |feedback|
            .span3
              %center
                %h5= feedback.user.email
                = render :partial => 'notes/list', :locals => {:notes => feedback.notes, :restaurant => @review.restaurant}

                %table.table-striped.small
                  %tr
                    %th.parameter Parameter
                    %th.value Value
                  - feedback.parameter.content.each do |k,v|
                    %tr
                      %td= k.capitalize
                      %td= v
