#admin_reviews_show
  .row
    .col-xs-10.col-md-offset-1
      %center
        %p.prev-next
          = link_to "Prev", admin_restaurant_review_path(@restaurant, @review.prev) if @review.prev.present?
          = link_to "Next", admin_restaurant_review_path(@restaurant, @review.next) if @review.next.present?

      %h5
        = @review.title
        .review-rating
          = @review.rating
      %p= raw(@review.desc)

      .row
        %h4 Consolidated Feedback

        .col-xs-10
          .col-xs-4
            %table.table-striped.small.table-bordered
              %thead
                %th Item
                %th Rating
              - @review.consolidated_feedback["dishes"].each do |k,v|
                %tr
                  %td= k
                  %td= v

          .col-xs-4
            %table.table-striped.small.table-bordered
              %thead
                %th Parameter
                %th Value
              - @review.consolidated_feedback["parameters"].each do |k,v|
                %tr
                  %td= k
                  %td= v

      .row
        .col-xs-12
          %h4= "User Feedbacks (#{@feedbacks.count})"
          - @feedbacks.each do |feedback|
            .col-xs-4
              %center
                - if feedback.user.present?
                  %h5= feedback.user.email
                - else
                  %h5 User email N/A
                = render :partial => 'notes/list', :locals => {:notes => feedback.notes, :restaurant => @review.restaurant}

                %table.table-striped.small.table-bordered
                  %tr
                    %th.parameter Parameter
                    %th.value Value
                  - feedback.parameter.content.each do |k,v|
                    %tr
                      %td= k
                      %td= v
