= form_for(@restaurant) do |f|
  -if @restaurant.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@restaurant.errors.count, "error")
        prohibited this restaurant from being saved  
      %ul
        -@restaurant.errors.full_messages.each do |msg| 
          %li
            = msg
  %div.row  
    %div.small-8
      %div.row
        %div.small-3.columns
          = f.label :name, class: 'right inline'
        %div.small-9.columns
          = f.text_field :name
        %div.small-3.columns
          = f.label :address, class: 'right inline'
        %div.small-9.columns
          = f.text_area :address, rows: "30"
        %div.small-9.columns
          = f.submit :Save, class: 'button success radius'
  