#restaurant
  .span11.offset1
    %h4
      Restaurants
    %table
      %tr
        %th.name
          %h5 Name
        %th.address
          %h5 Address
        %th.name
          %h5 Phone
        %th
        %th
        %th
      -@restaurants.each do |restaurant|
        %tr
          %td= link_to restaurant.name,(@admin ? admin_restaurant_path(restaurant) : restaurant_path(restaurant))
          %td= restaurant.address
          %td= restaurant.phone
          %td= link_to 'Show', (@admin ? admin_restaurant_path(restaurant) : restaurant_path(restaurant))
          %td= link_to 'Edit', (@admin ? edit_admin_restaurant_path(restaurant) : edit_restaurant_path(restaurant))
          %td= link_to 'Destroy', (@admin ? admin_restaurant_path(restaurant) : restaurant_path(restaurant)), method: :delete, data: { confirm: 'Are you sure?' }
  .span12.push
    = link_to (@admin ? new_admin_restaurant_path : new_restaurant_path) do
      %i.icon-plus
      New Restaurant
    .paginate
      = paginate @restaurants

