#restaurant.container-center
  .col-xs-12
    %h4.heading
      Restaurants
      %i.glyphicon.glyphicon-glass
    %table.table-striped.table-bordered
      %tr
        %th Name
        %th Address
        %th Phone
        %th{colspan:'3'} Actions
      -@restaurants.each do |restaurant|
        %tr
          %td= link_to restaurant.name,(@admin ? admin_restaurant_path(restaurant) : restaurant_path(restaurant))
          %td= restaurant.address
          %td= restaurant.phone
          %td.show-action
            = link_to (@admin ? admin_restaurant_path(restaurant) : restaurant_path(restaurant)) do
              %i.glyphicon.glyphicon-new-window
              Show
          %td.edit-action
            = link_to (@admin ? edit_admin_restaurant_path(restaurant) : edit_restaurant_path(restaurant)) do
              %i.glyphicon.glyphicon-pencil
              Edit
          %td.delete-action
            = link_to (@admin ? admin_restaurant_path(restaurant) : restaurant_path(restaurant)), method: :delete, data: { confirm: 'Are you sure?' } do
              %i.glyphicon.glyphicon-trash
              Destroy
  .col-xs-12
    = link_to (@admin ? new_admin_restaurant_path : new_restaurant_path), class: 'new-restaurant btn btn-default' do
      %i.glyphicon.glyphicon-plus-sign
      New Restaurant
    .paginate
      = paginate @restaurants

