#restaurant.row-fluid
  .span6.offset1
    %h5= @restaurant.name
    .right= link_to 'Edit', (@admin ? edit_admin_restaurant_path(@restaurant) : edit_restaurant_path(@restaurant))

    .block= @restaurant.address
    .block= @restaurant.phone


    -if @restaurant.zomato_url
      .clearfix
        = link_to 'Zomato Reviews',(@admin ? zomato_admin_restaurant_reviews_path(@restaurant) : zomato_restaurant_reviews_path(@restaurant)),class: "btn tiny block"
    -if @restaurant.burrp_url
      .clearfix
        = link_to 'Burrp Reviews',(@admin ? burrp_admin_restaurant_reviews_path(@restaurant) : burrp_restaurant_reviews_path(@restaurant)),class: "btn tiny block"
    -if @restaurant.yelp_url
      .clearfix
        = link_to 'Yelp Reviews',(@admin ? yelp_admin_restaurant_reviews_path(@restaurant) : yelp_restaurant_reviews_path(@restaurant)),class: "btn tiny block"

  .span4.offset1
    %h5 New Review
    = render 'reviews/form'

  - if false
    .row-fluid.span6.offset1
      %h4 Cluster Metrics
      - @clusters.each_with_index do |cluster, index|
        %h6
          = @restaurant.cluster_label(cluster)
          = "( #{cluster.join(', ')} )"
        .cluster-chart{:id => "cluster_#{index}"}
          :javascript
            $.plot(
              $("#cluster_#{index}"),
              [ { data: #{@restaurant.cluster_metrics(cluster)}}],
              {
                series: {
                   lines: { show: true },
                   points: { show: true }
                },

                grid: { hoverable: true, clickable: true },
                xaxis: { mode: "time", minTickSize: [1, "day"],timeformat: "%m/%d/%y"},
                yaxis: { min: 1, max: 5},
                colors: ["#F90", "#222", "#666", "#BBB"]
              }
            );
