#restaurant
  .row
    .large-5.columns
      %h5.subheader
        = @restaurant.name
      %h5.subheader
        = @restaurant.address
      %h5.subheader
        = @restaurant.phone

      -if @restaurant.zomato_url
        = link_to 'Zomato Reviews',(@admin ? zomato_admin_restaurant_reviews_path(@restaurant) : zomato_restaurant_reviews_path(@restaurant)),class: "tiny size button radius"
      -if @restaurant.burrp_url
        = link_to 'Burrp Reviews',(@admin ? burrp_admin_restaurant_reviews_path(@restaurant) : burrp_restaurant_reviews_path(@restaurant)),class: "tiny button size success radius"
      -if @restaurant.yelp_url
        = link_to 'Yelp Reviews',(@admin ? yelp_admin_restaurant_reviews_path(@restaurant) : yelp_restaurant_reviews_path(@restaurant)),class: "tiny button size other radius"

      = link_to 'Edit', (@admin ? edit_admin_restaurant_path(@restaurant) : edit_restaurant_path(@restaurant))
    .large-5.columns
      %h5.subheader New Review
      = render 'reviews/form'


    - if @admin
      .row
        .large-12.columns
          %h4 Cluster Metrics
          - @clusters.each_with_index do |cluster, index|
            %h6
              = @restaurant.cluster_label(cluster)
              = "( #{cluster.join(', ')} )"
            .cluster-chart{:id => "cluster_#{index}"}
              :javascript
                $.plot(
                  $("#cluster_#{index}"),
                  [ { data: #{@restaurant.cluster_metrics(cluster)}}],
                  {
                    series: {
                       lines: { show: true },
                       points: { show: true }
                    },

                    grid: { hoverable: true, clickable: true },
                    xaxis: { mode: "time", minTickSize: [1, "day"],timeformat: "%m/%d/%y"},
                    yaxis: { min: 1, max: 5},
                    colors: ["#F90", "#222", "#666", "#BBB"]
                  }
                );
