#restaurant
  .row
    .large-5.columns
      %h4 Restaurant Name
      %h5.subheader
        = @restaurant.name
      %h4 Address
      %h5.subheader
        = @restaurant.address
      %h4 Phone
      %h5.subheader
        = @restaurant.phone
    .large-7.columns
      %h4 URL's:
      -if @restaurant.zomato_url
        %h6 Zomato URL
        %h6.subheader
          = @restaurant.zomato_url
      -if @restaurant.burrp_url
        %h6 Burrp URL
        %h6.subheader
          = @restaurant.burrp_url
      -if @restaurant.yelp_url
        %h6 Yelp URL
        %h6.subheader
          = @restaurant.yelp_url
      %center
        = link_to 'Edit', (@admin ? edit_admin_restaurant_path(@restaurant) : edit_restaurant_path(@restaurant))
        |
        = link_to 'Back', restaurants_path

  .row
    .large-4.columns
      %h4 New Review
      = render 'reviews/form'
      -if @restaurant.zomato_url
        = link_to 'Zomato Reviews',(@admin ? zomato_admin_restaurant_reviews_path(@restaurant) : zomato_restaurant_reviews_path(@restaurant)),class: "medium size button radius"
      -if @restaurant.burrp_url
        = link_to 'Burrp Reviews',(@admin ? burrp_admin_restaurant_reviews_path(@restaurant) : burrp_restaurant_reviews_path(@restaurant)),class: "medium button size success radius"
      -if @restaurant.yelp_url
        = link_to 'Yelp Reviews',(@admin ? yelp_admin_restaurant_reviews_path(@restaurant) : yelp_restaurant_reviews_path(@restaurant)),class: "medium button size other radius"
    - if @admin
      .large-8.columns
        %h4 Clusters
        %table
          %thead
            %td Label
            %td Cluster
          - @restaurant.clusters.each do |cluster|
            %tr
              %td= @restaurant.cluster_label(cluster)
              %td= cluster.join(', ')
