<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @feedback.content %>
</p>

<p>
  <b>Review:</b>
  <%= @feedback.review %>
</p>


<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
