%h6= category.capitalize
- features = Parameter.send("#{category}_features")
- features.each do |key, info|
  .parameter
    .left
      = f.label info["label"], :class => 'key-label'
    .right
      - info["values"].each do |val|
        = f.radio_button key, val.first
        = f.label val.first
    .clear
