= form_for (@admin ? [:admin, @restaurant ,@review] : [@restaurant, @review]), :html => { :multipart => true } do |f|
  -if @review.errors.any?
    #error_explanation
      %h2
        = pluralize(@review.errors.count, "error")
        prohibited this review from being saved
      %ul
        -@review.errors.full_messages.each do |msg|
          %li
            = msg
  .form-group
    = f.label :title
    .col-md-8
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :desc
    .col-md-8
      = f.text_field :desc, class: 'form-control'
  .form-group
    = f.label :source
    .col-md-8
      = f.text_field :source, class: 'form-control'
  .form-group
    = f.label :author
    .col-md-8
      = f.text_field :author, class: 'form-control'
  .form-group.block
    = f.submit :Save, class: 'btn btn-default'
