= form_for (@admin ? [:admin, @restaurant ,@review] : [@restaurant, @review]), :html => { :multipart => true } do |f|
  -if @review.errors.any?
    #error_explanation
      %h2
        = pluralize(@review.errors.count, "error")
        prohibited this review from being saved
      %ul
        -@review.errors.full_messages.each do |msg|
          %li
            = msg
  #new_review
    .field
      = f.label :title, class: 'inline'
      = f.text_field :title
    .field
      = f.label :desc, class: 'inline'
      = f.text_area :desc
    .field.inline
      = f.label :source
      = f.text_field :source
    .field.inline
      = f.label :author
      = f.text_field :author
    .field.inline
      = f.submit :Save, class: 'small button success radius'