#source_reviews
  #review_notes.large-12.columns
    #review.large-10.columns
      %h5.title
        = @review.title
        .review-rating
          = @review.rating
      .desc= raw(@review.desc)
    #notes.large-2.columns
      %center
        %p.prev-next
          = link_to "Prev", restaurant_review_path(@restaurant, @review.prev) if @review.prev.present?
          = link_to "Back", @back_path
          = link_to "Next", restaurant_review_path(@restaurant, @review.next) if @review.next.present?
      - if @feedback.present?
        .notes-container
          .review-notes
            %center
              = render partial: 'notes/list', locals: {:notes => @feedback.notes, :restaurant => @restaurant}
          %center
            = render 'notes/form'
      - else
        = link_to 'Give Feedback', give_feedback_restaurant_review_path(@restaurant, @review)


  .large-12.columns
    #parameters
      %hr
      - if @feedback.present?
        = form_for(@feedback.parameter, :url => feedback_parameter_path(:feedback_id => @feedback.id)) do |f|
          .large-12.columns
            %center
              = f.submit 'Update',class: 'small button success save-button radius'
          .large-12.columns
            .large-4.columns
              = render :partial => 'category_features', :locals => {:category => 'restaurant', :f => f}
            .large-4.columns
              = render :partial => 'category_features', :locals => {:category => 'service', :f => f}

              = render :partial => 'category_features', :locals => {:category => 'food', :f => f}
            .large-4.columns
              = render :partial => 'category_features', :locals => {:category => 'context', :f => f}
              = render :partial => 'category_features', :locals => {:category => 'extrensic', :f => f}

