#source_reviews.row
  .large-12.columns
    .large-9.columns
      %h5
        = @review.title
        .rating
          = @review.rating
      %p= @review.desc
      %h5.subheader
        Source :
        = @review.source
        |
        Created at :
        = @review.created_at
      %h5.subheader
        Author :
        = @review.author

    .large-3.columns
      .notes-container
        .review-notes
          %center
            = render partial: 'reviews/notes', locals: {:notes => @review.get_notes(current_user), :restaurant => @restaurant}
        %center
          = button_tag 'Add a Note', class: "tiny button radius add-note"
          = form_for [@restaurant,@review,Note.new], html: { class: 'note-form' } do |f|
            = f.label :item
            = f.text_field :item

            = f.label :rating
            = f.text_field :rating
            %h6.subheader Rate from 1 - 5 scale

            = f.submit :SaveNote , class: 'small button success save-button radius'
            = button_tag 'Cancel', class: "small button radius cancel-button alert"
