#source_reviews.row-fluid
  #review_notes
    #review.span9
      %h5
        = @review.title
        .review-rating
          = @review.rating
      .desc= raw(@review.desc)
    #notes.span3
      %center
        %p.prev-next
          = link_to "Prev", restaurant_review_path(@restaurant, @review.prev) if @review.prev.present?
          = link_to "Back", @back_path
          = link_to "Next", restaurant_review_path(@restaurant, @review.next) if @review.next.present?
      - if @feedback.present?
        .notes-container
          .review-notes
            %center
              = render partial: 'notes/list', locals: {:notes => @feedback.notes, :restaurant => @restaurant}
          %center
            = render 'notes/form'
      - else
        = link_to 'Give Feedback', give_feedback_restaurant_review_path(@restaurant, @review)


#parameters
  %hr
  - if @feedback.present?
    = form_for(@feedback.parameter, :url => feedback_parameter_path(:feedback_id => @feedback.id)) do |f|
      .span12
        .span4
          = render :partial => 'category_features', :locals => {:category => 'restaurant', :f => f}
        .span4
          = render :partial => 'category_features', :locals => {:category => 'service', :f => f}

          = render :partial => 'category_features', :locals => {:category => 'food', :f => f}
        .span4
          = render :partial => 'category_features', :locals => {:category => 'context', :f => f}
          = render :partial => 'category_features', :locals => {:category => 'extrensic', :f => f}
      .span12
        %center
          = f.submit 'Update',class: 'btn btn-info save-button'

