%p#notice
  = notice

%p
  %b 
    Title:
    = @review.title 
%p
  %b
    Desc:
    = @review.desc
%p
  %b
    Source:
    = @review.source
%p
  %b
    Created at:
    = @review.created_at
%p
  %b
    Author:
    = @review.author



= link_to 'Edit', edit_restaurant_review_path(@restaurant,@review) 
|
= link_to 'Back', restaurant_path(@restaurant)
