#source_reviews.row
  .large-12.columns
    .large-10.columns
      %h5
        = @review.title
        .rating
          = @review.rating
      %p= @review.desc

    .large-2.columns
      - if @feedback.present?
        .notes-container
          .review-notes
            %center
              = render partial: 'notes/list', locals: {:notes => @feedback.notes, :restaurant => @restaurant}
          %center
            = render 'notes/form'
      - else
        = link_to 'Give Feedback', give_feedback_restaurant_review_path(@restaurant, @review)
.row
  #parameters.large-12.columns
    = form_for(@feedback.parameter, :url => feedback_parameter_path(:feedback_id => @feedback.id)) do |f|
      - Parameter::FEATURES.each do |key, info|
        .parameter
          = f.label info["label"], :class => 'key-label'
          - info["values"].each do |val|
            = f.radio_button key, val
            = f.label val
      = f.submit 'Update'
      

