#source_reviews.row
  .large-12.columns
    .large-8.columns
      %h4
        = link_to @restaurant.name, restaurant_path(@restaurant)
      %h5 Title:
      %h5.subheader
        = @review.title
      %h5 Description
      %h5.subheader
        = @review.desc
      %h5.subheader
        Source :
        = @review.source
        |
        Created at :
        = @review.created_at
      %h5.subheader
        Author :
        = @review.author
        |
        Rating :
        .rating
          = @review.rating

      = link_to 'Edit', edit_restaurant_review_path(@restaurant,@review)
      |
      = link_to 'Back', restaurant_path(@restaurant)
    .large-4.columns
      %h4 Curator Notes
      .notes-container
        .review-notes
          %center
            = render partial: 'reviews/notes', locals: {:notes => @review.get_notes(current_user), :restaurant => @restaurant}
        %center
          = button_tag 'Add a Note', class: "tiny button radius add-note"
          = form_for [@restaurant,@review,Note.new], html: { class: 'note-form' } do |f|
            = f.label :item
            = f.text_field :item

            = f.label :rating
            = f.text_field :rating
            %h6.subheader Rate from 1 - 5 scale

            = f.submit :SaveNote , class: 'small button success save-button radius'
            = button_tag 'Cancel', class: "small button radius cancel-button alert"
