<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @review.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @review.desc %>
</p>

<p>
  <b>Source:</b>
  <%= @review.source %>
</p>

<p>
  <b>Created at:</b>
  <%= @review.created_at %>
</p>

<p>
  <b>Author:</b>
  <%= @review.author %>
</p>



<%= link_to 'Edit', edit_restaurant_review_path(@restaurant,@review) %> |
<%= link_to 'Back', restaurant_path(@restaurant) %>
