#source_reviews
  .large-12.columns
    .large-10.columns
      %h5
        = @review.title
        .review-rating
          = @review.rating
      %p= @review.desc

    .large-2.columns
      - if @feedback.present?
        .notes-container
          .review-notes
            %center
              = render partial: 'notes/list', locals: {:notes => @feedback.notes, :restaurant => @restaurant}
          %center
            = render 'notes/form'
      - else
        = link_to 'Give Feedback', give_feedback_restaurant_review_path(@restaurant, @review)

#parameters
  = form_for(@feedback.parameter, :url => feedback_parameter_path(:feedback_id => @feedback.id)) do |f|
    .large-12.columns
      .large-5.columns
        = render :partial => 'category_features', :locals => {:category => 'restaurant', :f => f}

      .large-5.columns
        = render :partial => 'category_features', :locals => {:category => 'service', :f => f}

        = render :partial => 'category_features', :locals => {:category => 'food', :f => f}
      .large-2.columns &nbsp;

    .large-12.columns
      .large-5.columns
        = render :partial => 'category_features', :locals => {:category => 'context', :f => f}
      .large-5.columns
        = render :partial => 'category_features', :locals => {:category => 'extrensic', :f => f}
      .large-2.columns &nbsp;

    %center
      = f.submit 'Update'

      

