#source_reviews.row
  .large-12.columns
    %h4
      = "#{@source.capitalize} Reviews"
    .paginate
      = paginate @reviews

    = render :partial => 'reviews/table', :locals => {:reviews => @reviews}

    .paginate
      = paginate @reviews

