%div.row{ style: "max-width:80em;margin-left:30px;margin-right:30px;"}
  %div.row
    %div.large-2.columns
      %h4 Restaurant Name
      %h5.subheader 
        = @restaurant.name
      %h4 Address
      %h5.subheader
        = @restaurant.address
      %center
        = link_to 'Edit', edit_restaurant_path(@restaurant),class: "button radius" 
        &nbsp;
        = link_to 'Back', restaurants_path,class: "button alert radius"
      %hr
      %center
        %h4 New Review
        = link_to 'Write',new_restaurant_review_path, class: "button success radius"
      %hr 
      %center
        %h4 Other Sources
        -if @restaurant.zomato_url || @restaurant.burrp_url
          -if @restaurant.zomato_url
            = link_to 'Zomato Reviews',zomato_restaurant_reviews_path(@restaurant), class: "button radius"
          -if @restaurant.burrp_url
            = link_to 'Burrp Reviews',burrp_restaurant_reviews_path(@restaurant), class: "button radius"
        -else
          %h6 There are no other review sources for this restaurant.
    %div.large-10.columns  
      %h4
        Yelp Reviews
      %div{ style: "float:right"}
        = paginate @reviews
      %br
      %br
      %table
        %thead
          %th{width: '700'}
            %h6 Review Description
          %th{width: '300'}
            %h6 Curator Notes

        -@reviews.each do |review| 
          %tr{style: "border-bottom: 1px solid #000;display"}
            %td
              = review.desc
              %br
              %br
              %div{ style: "float:left;width:400px;"}
                %h6.subheader
                  Author:
                  = review.author
                  &nbsp; | &nbsp;
                  Created Date:
                  -if review.review_created_at
                    = review.review_created_at.to_date
              %div{ style: "float:right;width:200px;"}
                = link_to 'Show', restaurant_review_path(@restaurant,review),class: "small button radius" 
                = link_to 'Destroy', restaurant_review_path(@restaurant,review), method: :delete, data: { confirm: 'Are you sure?' },class: "small button alert radius"
            %td{style: "padding:5px;"} 
              -@notes = review.notes
              -if !@notes.blank?
                %table{ border: 0}
                  %tr
                    %th Item
                    %th Rating
                    %th
                  -@notes.each do |note|
                    %tr
                      %td
                        = note.item
                      %td
                        = note.rating
                      %td
                        = link_to 'Edit', edit_restaurant_review_note_path(@restaurant,review,@notes),class: "small button radius"
                        = link_to 'Destroy', restaurant_review_note_path(@restaurant,review,note), method: :delete, data: { confirm: 'Are you sure?' },class: "small button alert radius"

                %center
                  = link_to 'Add a Note', new_restaurant_review_note_path(@restaurant,review), class: "small button radius"
              -else
                = form_for [@restaurant,review,@note] do |f|
                  = f.label :item
                  = f.text_area :item, style: "width:150px;height:50px;"

                  = f.label :rating
                  = f.text_field :rating, style: "width:80px;"
                  %h6.subheader Rate from 1 - 5 scale

                  = f.text_field :review_id, style: "width:80px;display:none;", value: review.id
                  = f.text_field :user_id, style: "width:80px;display:none;", value: current_user.id

                  = f.submit :SaveNote , class: 'small button success radius'
                %br
                %br
                %br
      %div{ style: "float:right"}
        = paginate @reviews
      %br
      %br
      %br
