!!!
%html
  %head
    %title
      Tomato
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}

    = csrf_meta_tags
%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        .brand= @restaurant.name


  .container-fluid
    = yield

    .footer.span10.offset1
      %center
        %hr
        Tomato &copy;
        = Time.now.year
