<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @parameter.content %>
</p>

<p>
  <b>Feedback:</b>
  <%= @parameter.feedback %>
</p>


<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
<%= link_to 'Back', parameters_path %>
